<!-- 

	담당 : 천세문

	디자인 수정중...

 -->

body{
	background-color: #565656; 
}

#mov_list{
    margin: 0; 
    padding: 0; 
    margin: 0 auto; 
    box-sizing: border-box;
    font-style: fantasy;
	position: relative;
    overflow: hidden;
    background-color: #565656; 
}

#mov_list h1{
    text-align: center;
}

.movie{
    position: relative;
    text-align: center;
}

.movie img, h3, h2{
    cursor: pointer;
}