<!-- 

	담당 : 천세문
	
	디자인 수정중...

 -->
 
body{
	background-color: #565656; 
}
 
#mov_detail{
	margin: 0; 
	padding: 0; 
	margin: 0 auto; 
	box-sizing: border-box;
	font-style: fantasy;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #565656; 
}

#mov_detail h1{
	margin: 0 auto;
	text-align: center;
}

.movie{
	text-align: center;
}

.rating table{
    width: 100%;
}

.rating table tr{
    height: 60px;
}

.rating table tr td{
    border-right: none;
    border-left: none;
}

.rating img{
    width: 40px;
    height: 40px;
}