/* 

	담당 : 천세문

*/

/* 화면 기본 */

#movUpdate{
	padding: 50px;
    position: relative;
    width: 100%;
    background-color: #37B5BE;
    color: #F5FFFA;
}

h1{
    width: 100%;
    cursor: pointer;
    color: #F5FFFA;
    background-color:  #0DEEC9;
    border-top: 5px solid #F5FFFA;
    border-bottom: 5px solid #F5FFFA;
    text-align: center;
}

h1 a{
	color: #F5FFFA;
}

h1:hover{
    color: #F5FFFA;
    opacity: 0.9;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    text-align: center;
}

h3, h4{
    width: 100%;
    color: #00FA9A;
    text-align: center;
}

h4{
	color: yellow;
}

table{
	margin: 0 auto;
}

table td{
	padding: 5px;
}

input{
	width: 100%;
	height: 30px;
	background-color: #3ABAB5;
    border: 1px solid #0DEEC9;
	color: #F5FFFA;
}

input:hover{
	border: 2px solid #F5FFFA;
	color: yellow;
}

.button{
	cursor: pointer;
}

/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
	
	
      
}
/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {
	
	
    
}
/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {
	
	

}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
	
	
    
}