/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */
  
  /* 임시 */
#movDetail h1, #updateMenu, .movie, .teaser {
	/*display: none !important;*/
}
  /* 임시 */
  
#ratingWrap {
	padding: 5px;
}
.rating-inner-box {
	border: 1px solid #acc;
	padding: 5px;
	margin-bottom: 5px;
}
.rating-top {
	height: 30px;
}
.rating-nick {
	width: 148px; height: 30px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}

/* score */
.rating-score {
	width: 150px; height: 30px;
	padding: 5px;
	float: right;
}
.score-bg {
	width: 100px; height: 20px;
	float: left;
	background-image: url('../../images/mincho/mincho_search_bg.jpg');
    background-repeat: repeat-x;
	background-size: 20px;
}
.score-img {
	height: 20px;
	background-image: url('../../images/mincho/mincho_search.jpg');
    background-repeat: repeat-x;
	background-size: 20px;
}
.score-text {
	width: 40px; height: 20px;
	float: left;
	font-size: 16px;
	color: #00796a;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
}
.rating-comment {
	padding: 5px;
	border-top: 1px solid #bdd;
	border-bottom: 1px solid #bdd;
}
.rating-bottom {
	height: 40px;
}
.rating-date {
	width: 80px; height: 40px;
	float: left;
	padding: 10px 5px;
	color: #777;
	font-size: 14px;
	line-height: 20px;
}
.rating-ud {
	width: 218px;height: 40px;
	float: right;
	padding: 5px;
}
.rating-up-btn, .raitng-down-btn {
	height: 30px;
	padding: 0 10px;
	float: right;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 28px;
}
.rating-up-btn { margin-right: 10px; color: red; }
.raitng-down-btn { color: blue; }
/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
	.rating-top {
		height: 40px;
	}
	.rating-nick {
		width: 248px; height: 40px;
		padding: 0 10px;
		font-size: 20px;
		line-height: 40px;
	}
	.rating-ud {
		width: 218px;height: 40px;
		float: right;
		padding: 5px;
	}
	/* score */
	.rating-score {
		width: 210px; height: 40px;
	}
	.score-bg {
		width: 150px; height: 30px;
		background-size: 30px;
	}
	.score-img {
		height: 30px;
		background-size: 30px;
	}
	.score-text {
		width: 50px; height: 30px;
		font-size: 24px;
		line-height: 28px;
	}
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {
    
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {
}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
    #ratingWrap {
    	width: 1200px;
    	margin: 0 auto;
    }
}