/* 

	담당 : 천세문

*/

/* 화면 기본 */
#movRec{
	position: relative;
    width: 100%;
    height: 1978px;
    overflow-x: hidden;
    overflow: hidden;
    background-color: #3ABAB5;
}

h1{
    width: 100%;
    cursor: pointer;
    color: #F5FFFA;
    background-color: #0DEEC9;
    border-top: 5px solid #F5FFFA;
    border-bottom: 5px solid #F5FFFA;
    text-align: center;
}

h1 a{
	color: #F5FFFA;
}

h1:hover{
    color: #F5FFFA;
    opacity: 0.9;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    text-align: center;
}

h3{
	float: left;
	padding: 5px;
    width: 100%;
    height: 50px;
    background-color: #00CED1;
    color: snow;
	border: 3px solid snow;
	border-right: none; 
    font-size: 1.8em;
}

/* 관리자만 보이는 메뉴*/
#updateMenu{
	width: 100%;
	height: 26px;
	background-color: #00FA9A;
}

#updateMenu input{
	padding: 1px;
	vertical-align: middle;
	cursor: pointer;
	background-color: #0DEEC9;
	border: 2px solid yellow;
	color: #F5FFFA;
}

#updateMenu input:hover{
	color: yellow;
}

/* 영화 목록 바탕 */

.bg {
    width: 6000px;
    float: left;
}

/* 좌우 이동 버튼 */

.l-button1{
    left: 40px;
}

.r-button1{
    right: 40px;
}

.l-button1, .r-button1 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 200px;
    font-size: 50px;
    cursor: pointer;
    color: #F5FFFA;
}

/* 영화 관련 */

.movie{
    height: 450px;
    width: 480px;
    float: left;
    overflow: hidden;
    background-color: #ADCECE;
    border: 1px solid #0DEEC9;
}

.movie a{
	margin: 0 auto;
	height: 400px;
	width: 280px;
	display: block;
    text-decoration: none;
    
}

.movie img{
	height: 400px;
	width: 280px;
    cursor: pointer;
    border: 1px solid #0DEEC9;
}

.movie img:hover{
	border: 3px solid #F5FFFA;
	color: #F5FFFA;
}

.movie p a{
	height: 50px;
	width: 480px;
    cursor: pointer;
    border: 1px solid #0DEEC9;
    background-color: #3ABAB5;
    color: #F5FFFA;
    font-size: 30px;
    text-align: center;
}

.movie p a:hover{
	border-top: 3px solid #F5FFFA;
	border-left: 3px solid #F5FFFA;
	border-right: 5px solid #F5FFFA;
	border-bottom: 5px solid #F5FFFA;
	color: yellow;
}

/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
	
	
	
}
/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {

	
	
}
/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {
	
	

}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {

	

}