/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

.myp-assess-pc {
	display: block;
}
.myp-assess-mobile {
	display: none;
}
.con-assess {
	margin: 0 auto;
	padding-top : 10px;
	padding-bottom : 10px;
	padding-left : 10px;
	padding-right : 10px;
	border: 2px solid #00D7C0;
	max-width: 980px;
	margin-bottom: 30px;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.con-assess-bg {
	background: rgba(0,0,0,0.8);
}
.con-assess:hover .con-assess-bg{
	transition-duration: 0.2s;
	background: rgba(0,75,75,0.8);
}
.con-chkbox:checked + .con-assess-bg{
	transition-duration: 0.2s;
	background: rgba(75,0,0,0.8);
}

.con-assess-none {
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: #888;
	border: none;
}
.con-search-none {
	display: none;
	margin:0 auto;
	padding: 10px;
	max-width: 980px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: #888;
	margin-bottom: 30px;
}

#assess-list-delete {
	display: none;
}
.con-chkbox:checked +div img{
	transition-duration: 0.2s;
	opacity: 0.5;
}

.con-assess-img-wrap {
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.con-assess-img-poster {
	width: 167px;
	height: 250px;
}
.con-assess-stars-date {
	margin-right: 10px;
}
.con-assess-img-stars {
	position: relative;
	font-size: 60px;
	background-color: #008080;
	color: white;
	height: 127px;
}


.con-assess-img-stars-score {
	font-family: 'Orbitron', sans-serif;
	display: table-cell;
	width: 116px;
	vertical-align: middle;
	text-align: center;
	height: 127px;
}
.con-assess-mintchoco {
	position: absolute;
	right: -10px;
	top: -20px;
	width: 60px;
}
.con-assess-float {
	float:left;
}
.con-assess-float-right {
	float: right;
}

.con-assess-cont-subject {
	white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
}
.con-assess-cont-genre {
	white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
}

.con-assess-like {
	margin-right: 10px;
}
.con-assess-cont-line-content p {
  	position: relative;
  	max-height: calc(16 * 1.5 * 2 * 1px);
  	font-size: 16px;
  	line-height: 1.5;
  	word-break: break-all;
  	overflow: hidden;
}
.con-assess-cont-line-content p::before,
.con-assess-cont-line-content p::after {
  	position: absolute;
}
.con-assess-cont-line-content p::before {
  	content: '...';
  	top: calc(16 * 1.5 * (2 - 1) * 1px);
  	right: 0;
  	width: 1em;
}
.con-assess-cont-line-content p::after {
  	content: '';
  	width: 100%;
  	height: 100%;
}

.con-assess-cont-subject {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
.con-assess-btn {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: #008080;
	color: white;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 10px;
	padding-right : 10px;
	border-radius: 10px;
}
.con-assess-cont-line-wrap {
	width: 620px;
	background-color: rgba(10,50,50,0.7);
	padding: 10px;
	border: 1px solid #555;
	height: 105px;
}
.con-assess-cont-line {
	margin-left: 0px;
}
.con-assess-cont-line-content {
	width: 595px;
	height: 50px;
	padding: 10px;
	margin-top: 5px;
	border: 1px dashed #999;
}
.con-assess-cont-genre {
	margin-bottom: 20px;
}
.con-assess-cont-tag {
	margin-bottom: 20px;
}

.con-assess-cont-wrap {
	margin-top: 10px;
	width: 770px;
}

.con-assess-cont-right-wrap {
	width: 500px;
}
.con-assess-stars-wrap {
	width: 70px;
	margin-top: 5px;
	
}
.con-assess-stars {
	position: relative;
	color: white;
	font-size: 20px;
	margin-left: 0px;
	font-size: 28px;
	width: 230px;
	height: 40px;
	
}

.con-th-mintcho {
	position: absolute;
	width: 200px;
	height: 40px;
	background-image: url("../../images/member/mintchoco2.png");
	background-size: 40px;	
}
.con-th-mintcho2 {
	position: absolute;
	background-image: url("../../images/member/mintchoco1.png");
	background-size: 40px;
	height: 40px;
}
.con-th-mintcho-label {
	width: 20px;
}

.con-assess-stars-like {
	font-size: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.icon-assess-wrap {
	border-bottom: 5px solid #00D7C0;
}

/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (max-width: 576px) {

}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {
    
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (max-width: 992px) {
.myp-assess-pc {
	display: none;
}
.myp-assess-mobile {
	display: block;
}
.con-assess {
	position: relative;
	margin: 0 auto;
	border: none;
	max-width: 980px;
	margin-bottom: 0px;
	background: transparent!important;
	height: 125px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.con-assess-bg {
	height: 125px;
	background: transparent;
}

.con-assess-none {
	font-size: 20px;
}
.con-search-none {
	font-size: 20px;
}
#assess-list-delete {
	display: none;
}
.con-chkbox:checked +div img{
	transition-duration: 0.2s;
	opacity: 0.5;
}

.con-assess-img-wrap {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.con-assess-img-poster {
	width: 70px;
	height: 125px;
}
.con-assess-img-stars {
	position: absolute;
	font-size: 50px;
	top: 45px;
	right: 50px;
	background-color: transparent;
	color: white;
	height: 0px;
}
.con-assess-stars-date {
	position: absolute;
	right: 20px;
	top: 8px;
	font-weight: bold;
}

.con-assess-img-stars-score {
	width: 60px;
	height: 0px;
}
.con-assess-mintchoco {
	position: absolute;
	right: -16px;
	top: 0px;
	width: 30px;
}

.con-assess-cont-line-content p {
	float: left;
	white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
}

.con-assess-cont-line-content p::after {
	display: none;
}
.con-assess-cont-line-content p::before {
	display: none;
}

.con-assess-like {
	margin-right: 10px;
}

.con-assess-cont-subject {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.con-assess-cont-table-wrap {	
	width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
}
.con-assess-cont-line-wrap {
	width: 100%;
	background-color: transparent;
	border: none;
	height: 55px;
	padding-bottom: 5px;
}
.con-assess-cont-line-content {
	width: 100%;
	height: 24px;
	padding: 0px;
	margin-top: 5px;
	border: none;
}
.con-assess-cont-genre {
	margin-bottom: 0px;
}
.con-assess-cont-tag {
	margin-bottom: 5px;
}

.con-assess-cont-wrap {
	margin-top: 0px;
	width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
    padding-left: 10px;
    padding-top: 5px;
}

.con-assess-cont-right-wrap {
	width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
}
.con-assess-cont-line-contents-wrap {
	width: 100%;
	height: 60px;
}
.con-th-mintcho-label {
	width: 20px;
}
.con-line-th {
	width: 100% !important;
}
.icon-assess-wrap {
	border-bottom: 5px solid #00D7C0;
}
}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (max-width: 1225px) {

}