/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */



#fav-list-delete {
	display: none;
}

.con-fav {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}
.con-fav-img-wrap {
	font-size: 15px;
}
.con-fav-poster {
	width: 140px;
	height: 200px;
}
.con-fav-float {
	float:left;
}
.con-fav-contents-wrap {
	margin-top: 10px;
	margin-bottom: 10px;
}
.con-fav-cal {
}
.con-fav-bg {
	padding: 10px;
	width: 140px;
	height: 290px;
}
.con-fav:hover .con-fav-bg{
	transition-duration: 0s;
	border: 1px solid #00D7C0;
	width: 138px;
	height: 288px;
}

.con-fav-none {
	margin:0 auto;
	padding: 10px;
	max-width: 980px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: #888;
	border: none;
	margin-bottom: 30px;
}
.con-search-none {
	display: none;
	margin:0 auto;
	padding: 10px;
	max-width: 980px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: #888;
	margin-bottom: 30px;
}

.con-fav:hover .con-fav-bg{
	transition-duration: 0.2s;
	background: rgba(0,75,75,0.7);	
}

.con-chkbox:checked + .con-fav-bg{
	transition-duration: 0.2s;
	background: rgba(75,0,0,0.7);
}
.con-chkbox:checked + .con-fav-bg img{
	opacity: 0.5;
}
.con-fav:hover img{
	transition-duration: 0.2s;
	opacity: 0.5;
}

.icon-fav-wrap {
	border-bottom: 5px solid #00D7C0;
}

.con-search-target, .con-fav-movie-kind,
.con-fav-movie-kind, .con-fav-movie-indate {
	white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
}

/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (max-width: 420px) {
.con-fav-margin {
	width: 210px!important;
	margin: 0 auto;
}
}

/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (max-width: 629px) {
.con-fav-margin {
	width: 420px;
	margin: 0 auto;
}
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 630px) {
.con-fav-margin {
	width: 630px;
	margin: 0 auto;
}
    
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (max-width: 768px) {
.con-fav-none {
	font-size: 20px;
}
.con-search-none {
	font-size: 20px;
}
}
/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 840px) {
.con-fav-margin {
	width: 840px;
	margin: 0 auto;
}
}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
.con-fav-margin {
	width: 1050px;
	margin: 0 auto;
}
}