/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */
 
.con-info-none {
	margin:0 auto;
	padding: 10px;
	max-width: 980px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: #888;
	border: 2px solid #00D7C0;
	margin-bottom: 30px;
}

.con-info-wrap {
	padding: 30px;
	border-top:1px solid #00D7C0;
}
.con-info-subject {
	color: #00D7C0;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px;
}

.con-info-table th {
	text-align: left;
	width: 150px;
}
.con-info-table td {
	height: 35px;
}

.swiper-container {
    width: 100%;
    height: 420px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 400px;
}
.icon-info-wrap {
	border-bottom: 5px solid #00D7C0;
}



/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
      
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (max-width: 767px) {
.hd-menu-nickname {
	width: -webkit-calc(100% - 199px)!important;
    width: -moz-calc(100% - 199px)!important;
    width: calc(100% - 199px)!important;
}   
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (max-width: 992px) {
.con-info-none {
	font-size: 20px;
	border: none;
}
}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
    
}