/* 

	담당 : 천세문
	
	디자인 수정 예정...

*/

/* 화면 기본 */

body{
    background-color: #00ac9a;
}

#mov_detail{
	margin: 0; 
	padding: 0; 
	margin: 0 auto; 
	box-sizing: border-box;
	font-style: fantasy;
	position: relative;
	overflow: hidden;
	text-align: center;
}

h1{
    width: 100%;
    color: #ff5365;
    background-color:  #00d7c5;
    border-top: 5px solid #ff5365;
    border-bottom: 5px solid #ff5365;
    text-align: center;
}

/* 영화 관련 */

.movie{
	text-align: center;
}

.movie table{
	width: 100%;
}

/* 평가 관련 */

.rating table{
    width: 100%;
}

.rating table tr{
    height: 60px;
}

.rating table tr td{
    border-right: none;
    border-left: none;
}

.rating img{
    width: 40px;
    height: 40px;
}