/* This is Common CSS file. */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none !important; color: #555; cursor: pointer; }
img { border: 0; }

/* ERROR PAGE */
.error-header {
	height: 120px;
    font-size: 40px;
    line-height: 120px;
    padding: 0 30px;
    color: #008a7b;
}
.error-msg {
	height: 200px;
	margin: 10px 40px;
	font-size: 24px;
}

/* HEADER */
header {
    position: relative;
    background-color: #008a7b;
}
#navList {
    width: 100%;
    height: 100px;
}
#navList li {
	height: 60px;
    padding: 0 10px;
    line-height: 60px;
    float: right;
}
#navList li a {
    font-size: 24px;
    color: #edd;
}
#navList li a:hover {
    font-size: 24px;
    color: #fff;
}
