/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

/* This is Common CSS file. */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none !important; color: #555; cursor: pointer; }
img { border: 0; }


/* SEARCH FORM */
#mobMenuBtn, #mobShowSearchBtn {
	display: block;
	width: 60px; height: 60px;
	float: right;
	font-size: 34px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
#mobShowSearchBtn {
	float: left;
}
#mobSearchWrap {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: 10;
}
#blackBackGround {
	width: 100%;
	height: 100%;
	background-color: rgba(20, 20, 20, 0.9);
}
.search-form-wrap {
	overflow: hidden;
	width: 100%; height: 60px;
	background-color: #008a7b;
}
.search-form-textbox {
	display: block;
	width: 240px; height: 60px;
	float: left;
	padding: 10px 5px;
}
#mobSearchHeaderBtn {
	display: block;
	width: 60px; height: 60px;
	float: left;
	font-size: 34px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
/* TAG SEARCH */
#tagWrap, #showTagBtn {
	display: none;
}
/* TAG SEARCH FORM */
#tagWrap {
	border-bottom: 1px solid #acc;
}
#searchTagListBox {
	padding: 0 5px;
	background-color: #cee;
}
#searchTagListBox .cst-chkbox-st2, #searchMoreTagListBox .cst-chkbox-st2 {
	width: 270px;
	margin: 0 auto;
}
#searchMoreTagListBox {
	padding: 0 5px;
	background-color: #ecc;
}
#serachTagBtn {
	overflow: hidden;
	margin: 0 auto;
	padding: 10px
}
#moreTag {
	width: 40px; height: 40px;
	float: right;
	font-size: 34px;
	color: #f44;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
#searchTagText {
	overflow: hidden;
	width: 300px; height: 40px;
	margin: 0 auto 10px;
	padding: 5px;
	border: 1px solid #acc;
	line-height: 30px;
}
#serachTagBtn > .cst-btn {
	width: 160px;
	margin: 0 auto;
}
#mobShowTagBtn {
	display: block;
	width: 60px; height: 60px;
	float: left;
	font-size: 34px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

/* HEADER */
header {
    position: relative;
    height: 60px;
    background-color: #008a7b;
}
#headerNav {
	display: none;
}
#navList > li:last-of-child {
	display: none;
	width: 100px; height: 60px;
}
#mobMenuWrap {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: #333;
	z-index: 15;
}
#mobMenuWrap > div:first-of-type {
	height: 60px;
	background-color: #333;
}
#mobMenuWrap > div:first-of-type > div:first-of-type {
	display: block;
	width: 60px; height: 60px;
	float: right;
	font-size: 34px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
#mobNavList > li {
	width: 100%; height: 50px;
	border-top: 1px solid #555;
	border-bottom: 1px solid #111;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}
#mobNavList > li > a {
	color: #ccc;
}


/* FOOTER */
footer {
	width: 100%;
	height: 240px;
	background-color: #008a7b;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 150px;
	
}

/* ERROR PAGE */
.error-header {
	height: 120px;
    font-size: 40px;
    line-height: 120px;
    padding: 0 30px;
    color: #008a7b;
}
.error-msg {
	height: 200px;
	margin: 10px 40px;
	font-size: 24px;
}

/* 커스텀 태그 */
input:focus { outline: none; }
div[class *= cst-chkbox-st1] {
	overflow: hidden;
	padding: 5px;
}
div[class *= cst-chkbox-wrap-st1] {
	overflow: hidden;
	padding: 5px;
}
div[class *= cst-chkbox-wrap-st2] {
	overflow: hidden;
	display: inline-block;
	padding: 5px;
}
div[class *= cst-chkbox-text] {
	height: 25px;
	padding: 0 5px;
	line-height: 25px;
	text-align: left;
	font-size: 14px;
	color: #222;
	float: left;
	cursor: pointer;
}
div[class *= cst-chkbox-box] {
	width: 25px;
	height: 25px;
	line-height: 22px;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
}
div[class *= cst-radio-box] {
	display: inline-block;
	height: 25px;
	padding: 0 10px;
	font-size: 14px;
	text-align: center;
	line-height: 22px;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	cursor: pointer;
}
div[class *= cst-radio-box]:last-child {
	border: 1px solid #bbb;
}
div[class *= cst-text-wrap-st1] {
	overflow: hidden;
}
div[class *= cst-text-box] {
	position: relative;
	height: 40px;
	float: left;
	font-size: 16px;
	line-height: 26px;
}
div[class *= cst-text-box] > input {
	display: block;
	height: 40px;
	padding: 3px 5px;
	background-color: rgba(230, 230, 230, 0.7);
	font-size: 16px;
	border: 0px;
}
div[class *= cst-text-box] > div {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #666;
}
div[class *= cst-text-label] {
	float: left;
	height: 40px;
	font-size: 16px;
	color: #333;
	line-height: 36px;
	text-align: center;
}
div[class *= cst-btn] {
	overflow: hidden;
}
div[class *= cst-btn-wrap-st] {
	position: relation;
	padding: 0;
	float: left;
}
div[class *= cst-btn-wrap-st1] > div:nth-of-type(1) {
	background-color: #009b8b;
}
div[class *= cst-btn-wrap-st2] > div:nth-of-type(1) {
	background-color: #ff6a79;
}
div[class *= cst-btn-wrap-st3] > div:nth-of-type(1) {
	background-color: #6e6e6e;
}
div[class *= cst-btn-wrap-st4] > div:nth-of-type(1) {
	background-color: rgba(0, 50, 50, 0.8);
}
div[class *= cst-btn-wrap-st1] > div:nth-of-type(2) {
	background-color: #008a7b;
}
div[class *= cst-btn-wrap-st2] > div:nth-of-type(2) {
	background-color: #ff5365;
}
div[class *= cst-btn-wrap-st3] > div:nth-of-type(2) {
	background-color: #565656;
}
div[class *= cst-btn-wrap-st4] > div:nth-of-type(2) {
	background-color: rgba(0, 50, 50, 0.6);
}
div[class *= cst-btn-wrap-st] > input {
	position: absolute;
	z-index: 10;
  	font-size:1em;
	border: 0;
	outline: none;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}
div[class *= cst-btn-wrap-st1] > input {
	color: #fff;
}
div[class *= cst-btn-wrap-st2] > input {
	color: #fff;
}
div[class *= cst-btn-wrap-st3] > input {
	color: #fff;
}
div[class *= cst-btn-wrap-st4] > input {
	color: #fff;
}


/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
	#searchTagListBox .cst-chkbox-st2, #searchMoreTagListBox .cst-chkbox-st2 {
		width: 540px;
		margin: 0 auto;
	}
	#serachTagBtn {
		width: 550px;
		margin: 0 auto;
	}
	#searchTagText {
		width: 370px; height: 40px;
		margin: 0;
		float: left;
	}
	#serachTagBtn > .cst-btn {
		width: 160px;
		float: left;
	}
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {
	#mobMenuBtn, #mobShowSearchBtn, #mobShowTagBtn { display: none; }
	
	#headerNav {
		display: block;
	    height: 60px;
	}
	#navList {
	    float: right;
	    height: 60px;
	}
	#navList li {
		height: 60px;
	    padding: 0 5px;
	    line-height: 60px;
	    float: left;
	}
	#navList li a {
	    font-size: 18px;
	    color: #ddd;
	}
	#navList li a:hover {
	    font-size: 18px;
	    color: #fff;
	}
	#searchWrap {
		display: none;
		width: 300px; height: 60px;
		float: left;
		color: #fff;
	}
	.search-form-textbox {
		display: block;
		width: 240px; height: 60px;
		padding: 10px 10px;
		float: left;
	}
	#searchHeaderBtn {
		display: block;
		width: 60px; height: 60px;
		float: left;
		font-size: 34px;
		line-height: 60px;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}
	#showSearchBtn, #showTagBtn {
		display: block;
		width: 60px; height: 60px;
		float: left;
		font-size: 24px;
		line-height: 60px;
		text-align: center;
		color: #ccc;
		cursor: pointer;
	}
	#showSearchBtn:hover, #showTagBtn:hover {
		color: #fff;
	}
	
	/* TAG SEARCH FORM */
	#searchTagListBox .cst-chkbox-st2, #searchMoreTagListBox .cst-chkbox-st2 {
		width: 675px;
		margin: 0 auto;
	}
	#serachTagBtn {
		width: 700px;
		margin: 0 auto;
	}
	#searchTagText {
		width: 520px; height: 40px;
		margin: 0;
		float: left;
	}
	#serachTagBtn > .cst-btn {
		width: 160px;
		float: left;
	}
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {
	#navList > li:last-of-type {
		display: block;
		width: 70px; height: 60px;
	}
	/* TAG SEARCH FORM */
	#searchTagListBox .cst-chkbox-st2, #searchMoreTagListBox .cst-chkbox-st2 {
		width: 810px;
		margin: 0 auto;
	}
	#serachTagBtn {
		width: 750px;
		margin: 0 auto;
	}
	#searchTagText {
		width: 570px; height: 40px;
		margin: 0;
		float: left;
	}
	#serachTagBtn > .cst-btn {
		width: 160px;
		float: left;
	}
}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
	#headerNav, #tagWrap {
		width: 1200px;
		margin: 0 auto;
	}
	#navList > li:last-of-type {
		display: block;
		width: 130px; height: 60px;
	}
}

