/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

/* This is Common CSS file. */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none !important; color: #555; cursor: pointer; }
img { border: 0; }


/* ERROR PAGE */
.error-header {
	height: 120px;
    font-size: 40px;
    line-height: 120px;
    padding: 0 30px;
    color: #008a7b;
}
.error-msg {
	height: 200px;
	margin: 10px 40px;
	font-size: 24px;
}

/* HEADER */
header {
    position: relative;
    background-color: #008a7b;
}
#navList {
    width: 100%;
    height: 100px;
}
#navList li {
	height: 60px;
    padding: 0 10px;
    line-height: 60px;
    float: right;
}
#navList li a {
    font-size: 24px;
    color: #edd;
}
#navList li a:hover {
    font-size: 24px;
    color: #fff;
}

footer {
	width: 100%;
	height: 500px;
	background-color: #008a7b;
	color: white;
	font-size: 64px;
	text-align: center;
	line-height: 500px;
	
}

#ratingWrap {
	width: 100%;
	height: 400px;
	background-color: #353535;
	color: white;
	font-size: 46px;
	text-align: center;
	line-height: 400px;
}


/* 커스텀 태그 */
input:focus { outline: none; }
div[class *= cst-chkbox-st1] {
	overflow: hidden;
	padding: 5px;
}
div[class *= cst-chkbox-wrap-st1] {
	overflow: hidden;
	padding: 5px;
}
div[class *= cst-chkbox-wrap-st2] {
	overflow: hidden;
	display: inline-block;
	padding: 5px;
}
div[class *= cst-chkbox-text] {
	height: 25px;
	padding: 0 5px;
	line-height: 25px;
	text-align: left;
	font-size: 14px;
	color: #222;
	float: left;
	cursor: pointer;
}
div[class *= cst-chkbox-box] {
	width: 25px;
	height: 25px;
	line-height: 22px;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
}
div[class *= cst-radio-box] {
	display: inline-block;
	height: 25px;
	padding: 0 10px;
	font-size: 14px;
	text-align: center;
	line-height: 22px;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	cursor: pointer;
}
div[class *= cst-radio-box]:last-child {
	border: 1px solid #bbb;
}
div[class *= cst-text-wrap-st1] {
	overflow: hidden;
	padding: 5px;
}
div[class *= cst-text-box] {
	height: 40px;
	float: left;
	font-size: 16px;
	line-height: 26px;
}
div[class *= cst-text-box] > input {
	display: block;
	height: 35px;
	padding: 2px 5px;
	font-size: 16px;
	border: 0px;
}
div[class *= cst-text-box] > div {
	height: 1px;
	background-color: #666;
}
div[class *= cst-text-label] {
	float: left;
	height: 40px;
	font-size: 16px;
	color: #333;
	line-height: 32px;
	text-align: center;
}
div[class *= cst-btn] {
	overflow: hidden;
	padding: 5px;
}
div[class *= cst-btn-wrap-st] {
	position: relation;
	padding: 5px;
	float: left;
}
div[class *= cst-btn-wrap-st1] > div:nth-of-type(1) {
	background-color: #009b8b;
}
div[class *= cst-btn-wrap-st2] > div:nth-of-type(1) {
	background-color: #ff6a79;
}
div[class *= cst-btn-wrap-st3] > div:nth-of-type(1) {
	background-color: #6e6e6e;
}
div[class *= cst-btn-wrap-st1] > div:nth-of-type(2) {
	background-color: #008a7b;
}
div[class *= cst-btn-wrap-st2] > div:nth-of-type(2) {
	background-color: #ff5365;
}
div[class *= cst-btn-wrap-st3] > div:nth-of-type(2) {
	background-color: #565656;
}
div[class *= cst-btn-wrap-st] > input {
	position: absolute;
	z-index: 10;
  	font-size:1.5em;
	border: 0;
	outline: none;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}
div[class *= cst-btn-wrap-st1] > input {
	color: #fff;
}
div[class *= cst-btn-wrap-st2] > input {
	color: #fff;
}
div[class *= cst-btn-wrap-st3] > input {
	color: #fff;
}


/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
      
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {
    
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {

}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
    
}

