/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

body, html, #contentBox{
  height: 100%;
  overflow: hidden;
}

#contentBox{
   display: inline;
}

/* 메인 동영상 화면 */
#mainDiv1{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #6b6350;
}

#skipBtn1, #skipBtn2{
  font-family: 'Anton', sans-serif;
  position: absolute;
  font-size: 40px;
  left: 50%;
  bottom: 30px;
  color: #39313b;
  /* text-shadow: 5px 5px 10px #d1ebd9; */
  transition: 0.5s;
  cursor: pointer;
  transform: translate(-50%);
}

#skipBtn2{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    right: 0; 
    top: 2px; 
}

#skipBtn1:hover{
  transform: translate(-80%);
  color: #70ad92;
}

#skipBtn1:hover > #skipBtn2{
  transform: translate(100%);
  visibility: visible;
  opacity: 1;
  color: #70ad92;
}

/* //메인 동영상 화면 */

#mainDiv2{
  top: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../images/index/introImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#mainDiv2 > video{
	z-index: -100;
}

#upBtn{
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 500;
  border-bottom: 3px solid #39313b;
  transition: 0.5s;
  
}

.fa-arrow-up{
  font-size: 50px;
  color: #39313b;
  transition: 0.5s;

}
.fa-arrow-up:hover{
  transform: translateY(-30%);
/*   transform:rotate(-90deg); */
}



#loginDiv{
  position: absolute;
  left:100%;
  height: 100%;
  width: 100%;
  background-color: #d0c6bc;
  text-align: center;
}

.title{
  color: #39313b;
  font-family: 'Pacifico', cursive;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* 임의변경 */

div[class *= cst-text-box]{
	margin:10px auto;
	float: none;
	width: 300px!important;
}

.cst-text-box > input{
	width: 300px!important;
	background-color:transparent;
}

div[class *= cst-btn]{
	margin: 30px auto;
	width: 150px;
	text-align: left;
}

/* 임의변경 */

#optionDiv > a{
	font-weight: bold;
	text-decoration: underline!important;
}



#joinDiv{
  position: absolute;
  left:100%;
  height: 100%;
  width: 100%;
  background-color: #d0c6bc;
  text-align: center;
}

#joinHr{
	margin: 30px auto;
	width:80%;
}


#findDiv{
  position: absolute;
  left:100%;
  height: 100%;
  width: 100%;
  background-color: #d0c6bc;
  text-align: center;
}

#findDivSubTitle{
	margin-bottom: 40px;
}






/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {

    
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {

	#loginDiv, #joinDiv, #findDiv{
		width:40%;
	}
	
	#upBtn{
		left:61%;
	}

}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {

  
}